@* Modal data model box *@

<div id="myModal" class="modal fade datamodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

           
            <div class="modal-header">
                <h5 class="modal-title" id="">University Data Model</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div role="tabpanel">
                    <ul class="nav-modal nav nav-tabs" role="tablist">
                        <li role="presentation"><a class="datamodel-tab-1 nav-item nav-link active" href="#application" aria-controls="application" role="tab" data-bs-toggle="tab">Application</a></li>
                        <li role="presentation"><a class="datamodel-tab-2 nav-item nav-link" href="#admin" aria-controls="admin" role="tab" data-bs-toggle="tab">Admin</a></li>
                        <li role="presentation"><a class="datamodel-tab-3 nav-item nav-link" href="#views" aria-controls="views" role="tab" data-bs-toggle="tab">Views</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="application"><img src="/img/university-model-app.png" />                        </div>
                        <div role="tabpanel" class="tab-pane" id="admin"><img src="/img/university-model-admin.png" /></div>
                        <div role="tabpanel" class="tab-pane" id="views"><img src="/img/university-model-views.png" /></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
